%main
  .wrapper-sub
    .contents
      .main__title-sub
        = link_to "my works", root_path
      %ul.main-sub__content
        %li.main-sub__content__list
          文字の投稿が可能なチャットアプリケーション（個人開発）
          %br
          使用言語: Python
          %br
        %li.main-sub__content__list
          = image_tag 'python.png', alt: 'python', height: '40%', width: '40%'
        %li.main-sub__content__list
          %br
          グループ管理機能
          %br 
          = image_tag 'python1.png', alt: 'python1', height: '40%', width: '40%'
        %li.main-sub__content__list
          %br
          グループ内へのメッセージ投稿機能
          %br
          = image_tag 'python2.png', alt: 'python2', height: '40%', width: '40%'
        %li.main-sub__content__list
          = image_tag 'python3.png', alt: 'python3', height: '40%', width: '40%'
